{% extends "base.html" %}
{% block content %}
<div style="color: red">{{ error }}</div>
<br>

<div>
    <a href="/download">Get the validation data.</a>
    <br>
    <a href="/download-training">Get the training data.</a>

    <br>

    The format is simple. Distinct words are newline separated, and documents are
    separated by two newlines. The validation data only has the words, but the training file
    also has the true labels of 0 or 1, where 0 indicates the word is <i>not</i> part of a
    geo-string, and a 1 indicates the word <i>is</i> part of a geo-string. Split the line on
    whitespace and the right-most value will be the true label. (Example python code below.)
    <br>
    <br>

    You need to upload a file with the same number of lines,
    where each line is a number between 0 and 1 inclusive representing the probability
    that word contains location information. Where the original file contains empty lines,
    your uploaded file should <em>not</em> contain a guess (either skip the line altogether,
    or put an empty line in your uploaded file).
    <br>
    <br>

    Below is a short example python script to load the data and make simple probability
    guesses based off the number of times the word occurs in the training.txt file
    as part of a location string. This is a good measure of baseline performance (~0.74 AUC),
    but we can do much better (current best AUC is ~0.92). Your job is to replace this with
    a real machine learning algorithm that performs better than the current best model.

    <br>

<pre>
with open('validation.txt', encoding='utf-8') as f:
    s = f.read()

with open('training.txt', encoding='utf-8') as f:
    training = f.read()

from collections import Counter
loc_words = Counter([' '.join(word.split(' ')[:-1]) for word in training.split('\n')
                     if word.split(' ')[-1] == '1'])
max_observed = float(max(loc_words.values()))

def guess(word):
    return str(loc_words[word] / max_observed)

with open('guesses.txt', 'w') as f:
    bytes_written = [f.write(guess(line) + '\n') for line in s.split('\n') if line]
</pre>
</div>

<br>
<div>
    <form action="/score" method="post" enctype="multipart/form-data">
        Upload file to score:
        <input type="file" name="file" id="file">
        <br>
        <br>
        Your name: <input type="text" name="name" id="name">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
